@import url('https://fonts.googleapis.com/css2?family=K2D:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=K2D:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800&family=Permanent+Marker&display=swap');

.App {
  text-align: center;
}

:root {
  --background-color: white;
  --text-color: black;
}

[data-theme="Dark"] {
  --background-color: black;
  --text-color: white;
}

body {
  background-color: var(--background-color);
  color: var(--text-color);
}

/*------------------Flaticons remove default styling------------------------------*/
.fi {
  display: inline-block;
  font-size: 15px; 
  line-height: 0;
}

.fi::before {
  display: inline-block;
  font-size: inherit;
  line-height: 0;
}
