.main {
  color: #0C185C;
  display: flex;
  flex-direction: column;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}
.mainGrid {
  display: grid;
  grid-template-columns: 1fr;
  overflow-y: auto;
  overflow-x: hidden;
  scrollbar-width: none;
  -ms-overflow-style: none;
  height: 100%;
}

.mainGrid::-webkit-scrollbar {
  display: none;
}

.title {
  align-self: center;
  justify-self: center;
  position:absolute;
  top:300px;
}

.title h1 {
  font-family: "Permanent Marker", serif;
  font-weight: 400;
  font-size: 48px;
  justify-self: center;
}

.title p {
  font-family: "K2D", sans-serif;
  font-weight: 700;
  font-size: 24px;
}
