body {
  font-family: "K2D", serif;
}

input::placeholder {
  font-family: "K2D", serif;
}

button {
  font-family: "K2D", serif;
}

.main {
  color: #0C185C;
  display: flex;
  flex-direction: column;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  flex-grow: 0;
  flex-shrink: 0;
}

.mainGreyedOut {
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.5);
  position: absolute;
  z-index: 2;
}

/*-----------------------------------------------Central Grids-----------------------------------*/


.mainGrid {
  display: grid;
  grid-template-rows: 15vh min-content min-content;
  overflow-y: auto;
  overflow-x: hidden;
  scrollbar-width: none;
  -ms-overflow-style: none;
  height: 100%;
}

.mainGrid::-webkit-scrollbar {
  display: none;
}

.header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.header h1 {
  margin: 0;
  padding: 0;
  font-family: "K2D", sans-serif;
  font-weight: 700;
  font-size: 24px;
}

.header h2 {
  margin: 0;
  padding: 0;
  font-family: "K2D", sans-serif;
  font-weight: 700;
  font-size: 24px;
}

/*-----------------------------------Search Bar--------------------------------------*/
.searchContainer {
  display: flex;
  align-self: center;
  justify-self: center;
  width: 50%;
  margin-top: 20px;
  margin-bottom: 10px;
}

.searchBar {
  position: relative;
  display: flex;
  align-items: center;
  width: 100%;
}

.searchBar input {
  color: #0C185C;
  font-family: "K2D", sans-serif;
  font-size: 20px;
  padding-left: 50px;
  border-radius: 7px;
  border-style: none;
  height: 59px;
  width: 100%;
  background-color: #E2DFEE;
}

.searchBar i {
  color: #7479A3;
  position: absolute;
  right: 5px;
  top: 50%;
  transform: translateY(-50%);
  border: none;
  padding: 8px 12px;
  border-radius: 50%;
  cursor: pointer;
  font-size: 25px;
}

.searchBar input:focus {
  background-color: #FDFCFF;
  border-style: solid;
  border-color: #7A7EA8;
  border-width: 2px;
  outline: none;
}

/*------------------------------------Genre Select-------------------------------------*/

.genreSelectContainer {
  display: flex;
  margin-left: 10px;
  align-items: center;
}


.genreButton {
  font-size: 16px;
  /* TODO: Add icon then remove text align possibly */
  border: solid;
  border-width: 1px;
  border-color: #464F83;
  border-radius: 7px;
  background-color: #FDFCFF;
  color: #0C185C;
  cursor: pointer;
  height: 45px;
  width: 110px;
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.genreButton p {
  align-self: center;
  justify-self: end;
  padding: 0;
  margin: 0;
  margin-left: 10px;
}

.genreButton i {
  color: #0C185C;
  margin-top: 3px;
  align-self: center;
  justify-self: center;
}

.storySelectGrid {
  display: grid;
  grid-template-columns: 10% 80% 10%;
  height: 50px;
}

.storyGenreContainer {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 15px;
}

.storyGenreContainer h1 {
  margin: 0;
  margin-top: 10px;
  margin-right: 5px;
  padding: 0;
  font-family: "K2D", sans-serif;
  font-weight: 500;
  font-size: 20px;
}

.selectedGenre {
  display: flex;
  flex-direction: row;
  height: 25px;
  width: min-content;
  align-items: center;
  justify-content: space-evenly;
  font-family: "K2D", sans-serif;
  font-weight: 500;
  font-size: 16px;
  background-color: #F5F3FF;
  border-style: solid;
  border-width: 1px;
  border-radius: 7px;
  border-color: #BDC1E7;
  padding: 3px 15px;
  margin-top: 5px;
  margin-left: 5px;
  cursor: pointer;
}

.selectedGenre p {
  padding: 0;
  margin: 0
}

.selectedGenre i {
  color: #7479A3;
  font-size: 15px;
  cursor: pointer;
  margin-left: 5px;
  margin-top: 2px;
}

.genreContainer {
  justify-self: center;
  align-self: center;
  position: absolute;
  background-color: #FDFCFF;
  border-style: none;
  border-radius: 7px;
  height: min-content;
  padding-right: 20px;
  padding-left: 20px;
  z-index: 3;
  overflow: hidden;
  color: #0C185C;
}

.genreTitle {
  display: grid;
  grid-template-columns: 1fr 2fr 1fr;
  height: 100px;
}

.genreTitle h2 {
  font-family: "Permanent Marker", sans-serif;
  font-weight: 400;
  font-size: 36px;
  color: #0C185C;
  justify-self: center;
}

.genreTitle i {
  justify-self: center;
  align-self: center;
  color: #8A8DB2;
  font-size: 42px;
  cursor: pointer;
}

.genreList {
  display: grid;
  grid-template-rows: 2fr 0.3fr;
  height: 100%;
}

.genreList ul {
  list-style: none;
  padding: 0;
  margin: 0;
  margin-left: 40px;
  margin-right: 40px;
}

.genreList li {
  display: flex;
  align-items: flex-start;
  cursor: pointer;
  width: 100%;
  margin-bottom: 30px;
}

.genreList div {
  align-self: center;
  border-style: none;
  border-radius: 50%;
  height: 30px;
  width: 30px;
}

.genreList p {
  font-size: 24px;
  margin-right: auto;
  margin-left: 20px;
  margin-top: 0;
  margin-bottom: 0px;
  padding: 0;
}

.genreList input {
  width: 30px;
  height: 30px;
  background-color: white;
  border-style: solid;
  border-width: 2px;
  border-color: #C8C4E0;
  border-radius: 4px;
  cursor: pointer;
  position: relative;
}


.genreList button {
  justify-self: center;
  font-family: "K2D", sans-serif;
  font-weight: 700;
  border-style: none;
  border-radius: 7px;
  background-color: #0C185C;
  color: #B6A4FF;
  font-size: 20px;
  height: 43px;
  width: 75%;
  cursor: pointer;
}

/*---------------------------------------Stories---------------------------------*/
.storyGridContainer {
  display: grid;
  grid-template-rows: 1fr 1fr;
}

.storyCardContainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 10px;
  align-items: start;
}

.storyCard {
  display: grid;
  grid-template-rows: auto auto auto;
  align-items: center;
  height: 131px;
  width: fit-content;
  max-width: 100%;
  border-style: none;
  border-radius: 7px;
  cursor: pointer;
}

.storyCard h3 {
  justify-self: center;
  margin: 10px;
  margin-bottom: 0px;
  padding: 0;
  font-family: "Permanent Marker", serif;
  font-weight: 400;
  font-size: 20px;
}

.storyCard h5 {
  font-family: "K2D", sans-serif;
  font-weight: 600;
  font-size: 12px;
  justify-self: center;
  margin-top: 5px;
  margin-bottom: 0;
  padding: 0;
}

.storyCard p {
  font-family: "K2D", sans-serif;
  font-weight: 600;
  justify-self: center;
  width: 100%;
  max-width: 350px;
  white-space: normal;
  word-wrap: break-word;
  text-align: center;
  margin: 0;
  margin-left: 5px;
  margin-right: 5px;
  padding-top: 0;
  padding-bottom: 0;
}