.main {
  display: flex;
  flex-direction: column;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}

.outerGrid {
  display: grid;
  grid-template-columns: 1fr 2fr 1fr;
  overflow: hidden;
  height: 100%;
}

.mainGrid {
  color: #0C185C;
  display: grid;
  grid-template-columns: 100px 1fr;
  grid-template-rows: auto auto auto auto;
  overflow-y: auto;
  overflow-x: hidden;
  scrollbar-width: none;
  -ms-overflow-style: none;
  font-family: "K2D", sans-serif;
  font-weight: 600;
  font-size: 24px;
  z-index: -3;
}


.mainGrid::-webkit-scrollbar {
  display: none;
}

.numbers {
  display: flex;
  justify-content: center;
  align-items: center;
  justify-self: center;
  margin-top: 17px;
  font-family: "K2D", sans-serif;
  font-weight: 800;
  font-size: 24px;
  color: #FDFCFF;
  background-color: #0C185C;
  height: 40px;
  width: 40px;
  border-radius: 50%;
}

.columnFlex {
  display: flex;
  flex-direction: column;
}

.columnFlex u {
  font-family: "K2D", sans-serif;
  font-weight: 800;
  font-size: 24px;
}

.sideBannerContainer {
 display: flex;
  overflow: visible;
}

.sideBanner {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  height: 106px;
  top: 170px;
  right: -700px;
  width: 100%;
  transform: rotatez(20deg);
  background-color: #B6A4FF;
  color: #5440D5;
  font-family: "K2D" sans-serif;
  font-weight: 800;
  font-size: 48px;
  z-index: -1
}

.sideBannerUnder {
  position: fixed;
  height: 106px;
  top: 200px;
  right: -700px;
  width: 100%;
  background-color: #5440D5;
  transform: rotatez(20deg);
  z-index: -2
}

@media (max-width: 1700px) {
  .sideBanner{
    top: 150px;
    right:-500px;
  }
  
  .sideBannerUnder {
    top: 170px;
    right: -500px;
  }
}


@media (max-width: 1400px) {
  .sideBanner{
    top: 130px;
    right:-400px;
  }
  
  .sideBannerUnder {
    top: 150px;
    right: -400px;
  }
}


@media (max-width: 1100px) {
  .sideBanner{
    top: 140px;
    right:-300px;
    height:41px;
    font-size:21px;
    transform: rotatez(30deg);
  }
  
  .sideBannerUnder {
    top: 150px;
    right: -300px;
    height:41px;
    font-size:21px;
    transform: rotatez(30deg);
  }
}