.main {
  display: flex;
  flex-direction: column;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}

.mainGreyedOut {
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.5);
  position: absolute;
  z-index: 2;
}

.outerGrid {
  display: grid;
  grid-template-columns: 1fr 1.7fr 1fr;
  overflow: hidden;
  height: 100%;
}

.mainGrid {
  display: grid;
  grid-template-rows: 100px auto;
  overflow-y: auto;
  overflow-x: hidden;
  scrollbar-width: none;
  -ms-overflow-style: none
}


.mainGrid::-webkit-scrollbar {
  display: none;
}

.storyInfo {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 0;
}

.storyInfo h3 {
  margin: 0;
  padding: 0;
  color: rgba(12, 24, 92, 1);
  font-family: "Permanent Marker", serif;
  font-weight: 400;
  font-size: 40px;
}

.storyInfo p {
  margin: 0;
  padding: 0;
}

.leavingContainer {
  display: grid;
  grid-template-rows: max-content 1fr 0.8fr;
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #FDFCFF;
  color: rgba(12, 24, 92, 1);
  border-style: none;
  border-radius: 7px;
  height: max-content;
  width: 30%;
  z-index: 3;
}

.leavingContainer i {
  justify-self: end;
  color: #0C185C;
  font-size: 40px;
  margin-top: 20px;
  margin-right:20px;
  cursor:pointer;
}

.leavingContainer p {
  justify-self: center;
  font-family: "K2D", sans-serif;
  font-weight: 800;
  font-size: 32px;
}

.leavingButtons {
  display: grid;
  grid-template-columns: 1fr 1fr;
  font-family: "K2D", sans-serif;
  font-weight: 700;
}

.leavingButtons button{
  align-self: center;
  font-family: "K2D", sans-serif;
  font-weight: 700;
  font-size: 24px;
  height:64px;
  width: 70%;
  border-style: none;
  border-radius: 7px;
  cursor: pointer;
}

.leavingButtons button:nth-child(1){
  background-color: #FFA9A9;
  justify-self: end;
  margin-right:30px;
}


.leavingButtons button:nth-child(2){
  background-color: #75E4B3;
  justify-self: start;
  margin-left: 30px;
}

/*----------------------------------------Inputs------------------------------------ */
.inputsForm {
  font-size: 20px;
}

.inputsContainer {
  display: grid;
  grid-template-columns: auto;
  justify-items: center;
  width: 100%;
}

.inputWrapper {
  margin-bottom: 40px;
  width: 100%;
}

/*--Above inputs--*/

.posInfo {
  display: flex;
  justify-content: space-between;
}

.posInfo p {
  margin: 0;
  padding: 0;
  color: #0C185C;
  font-family: "K2D", sans-serif;
  font-weight: 700;
}

.posInfo i {
  align-self: center;
  font-size: 15px;
  color: #867DBA;
  cursor: pointer;
}

.inputItemsContainer {
  display: flex;
  flex-wrap: nowrap;
  width: 100%;
}

input{
  font-family: "K2D", sans-serif;
  font-weight: 400;
  font-size: 20px;
  color: #0C185C;
  padding-left: 40px;
}

.inputsComplete {
  margin-bottom: 10px;
  background-color: #E2DFEE;
  border-style: none;
  border-radius: 5px;
  height: 58px;
  width: 100%
}

.inputsComplete:focus {
  background-color: #FDFCFF;
  border-style: solid;
  border-width: 2px;
  border-color: #595F92;
  outline: none;
}

.inputsError {
  margin-bottom: 10px;
  background-color: #FDFCFF;
  border-style: solid;
  border-color: red;
  border-width: 2px;
  border-radius: 5px;
  height: 58px;
  width: 100%
}

.inputsError:focus {
  outline: none;
}

.helpContentContainer {
  display: grid;
  grid-template-rows: max-content 1fr 1fr;
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #FDFCFF;
  color: rgba(12, 24, 92, 1);
  border-style: none;
  border-radius: 7px;
  height: max-content;
  width: 17%;
  z-index: 3;
}

.helpContentContainer i {
  justify-self: flex-end;
  align-self: flex-end;
  margin-top: 5px;
  margin-right: 5px;
  font-size: 25px;
  cursor: pointer;
}

.helpContentContainer h1 {
  font-size: 24px;
  font-weight: 800;
  padding: 0px 20px;
  margin-bottom: 0px;
}

.helpContentContainer p {
  margin-top: 0px;
  margin-bottom: 30px;
  padding: 0px 20px;
}

.finishedButtonContainer {
  margin-top: 20px;
  width: 100%;
  display: flex;
  justify-content: center;
}

.finishedButtonEnabled {
  margin-bottom: 20px;
  height: 64px;
  width: 90%;
  border-style: none;
  border-radius: 7px;
  cursor: pointer;
  background-color: #0C185C;
  color: #B6A4FF;
  font-family: "K2D", sans-serif;
  font-weight: 700;
  font-size: 24px;
}

.finishedButtonDisabled {
  margin-bottom: 20px;
  height: 64px;
  width: 90%;
  border-style: none;
  border-radius: 7px;
  cursor: pointer;
  background-color: rgba(204, 202, 202, 1);
  color: rgba(115, 115, 115, 1);
  font-family: "K2D", sans-serif;
  font-weight: 700;
  font-size: 24px;
}

/*-----------------------------------------------------Genre Banner-------------------*/

.genreBannerContainer {
  position: relative;
}

.genreBanner {
  display: flex;
  justify-content: center;
  position: absolute;
  left: 50px;
  height: 108px;
  width: max-content;
  background-color: #75E4B3;
  color: rgba(0, 71, 81, 0.75);
  clip-path: polygon(0% 0%, 100% 0%, 100% 100%, 50% 70%, 0% 100%);
}

.genreBanner p {
  font-family: "K2D", sans-serif;
  font-weight: 600;
  position: relative;
  top: 30px;
  margin: 0px 20px;
}