.main {
  width: 100vw;
  height: 100vh;
  overflow-x: hidden;
}

.outerGrid {
  display: grid;
  grid-template-columns: 1fr 2fr 1fr;
}

.mainGrid {
  display: grid;
  grid-template-rows: auto auto;
}

.storyInfo {
  display: flex;
  flex-direction: column;
}

/*----------------------------------------Inputs------------------------------------ */
.inputsForm {
  font-size: 20px;
  margin: 1px;
}

.inputsContainer {
  display: grid;
  grid-template-columns: auto;
  justify-items: center;
  width: 100%;
}

.inputWrapper {
  width: 100%;
}

.posInfo {
  display: flex;
  justify-content: space-between;
}

.posInfo p {
  margin: 0;
  padding: 0;
}

.inputItemsContainer {
  display: flex;
  flex-wrap: nowrap;
  width: 100%;
}


.inputsComplete {
  margin-bottom: 10px;
  background-color: #E2DFEE;
  border-style: none;
  border-radius: 5px;
  height: 58px;
  width: 100%
}

.inputsComplete:focus {
  background-color: #FDFCFF;
  border-style: solid;
  border-width: 2px;
  border-color: #595F92;
  outline: none;
}

.inputsError {
  margin-bottom: 10px;
  background-color: #FDFCFF;
  border-style: solid;
  border-color: red;
  border-width: 2px;
  border-radius: 5px;
  height: 58px;
  width: 100%
}

.inputsError:focus {
  outline: none;
}

.finishedButtonContainer {
  width: 100%;
  display: flex;
  justify-content: center;
}

.finishedButtonEnabled {
  background-color: #0C185C;
  color: #B6A4FF;
  margin-left: 5px;
  height: 64px;
  width: 90%;
  border-style: none;
  border-radius: 7px;
  cursor: pointer;
}

.finishedButtonDisabled {
  margin-left: 5px;
  height: 64px;
  width: 90%;
  border-style: none;
  border-radius: 7px;
  cursor: pointer;
}