.main {
  width: 100vw;
  height: 100vh;
  overflow-x: hidden;
}

.outerGrid {
  display: grid;
  grid-template-columns: 1fr 2fr 1fr;
}

.mainGrid {
  display: grid;
  grid-template-rows: auto auto;
}

.storyInfo {
  display: flex;
  flex-direction: column;
}

/*----------------------------------------Inputs------------------------------------ */
.inputsForm {
  width: 100%;
}

.inputsContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.centerWrapper {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 40%;
}

.centerWrapper p {
  align-self: flex-start;
  margin: 0;
  padding: 0;
}

.inputItemsContainer {
  display: flex;
  flex-wrap: nowrap;
  width: 100%;
}

/* .inputsForm input {
  margin-bottom: 10px;
  background-color: #ccc;
  border-style: none;
  border-radius: 5px;
  height: 30px;
  width: 100%
} */

.inputsComplete{
  margin-bottom: 10px;
  background-color: #ccc;
  border-style: none;
  border-radius: 5px;
  height: 30px;
  width: 100%
}

.inputsError{
  margin-bottom: 10px;
  background-color: #ccc;
  border-style: solid;
  border-color: red;
  border-width: 5px;
  border-radius: 5px;
  height: 30px;
  width: 100%
}

/* .inputsForm button {
  margin-left: 5px;
  height: 30px;
  border-style: none;
  cursor: pointer;
} */
/* 
.submitButton {
  align-self: flex-start;
  cursor: pointer;
} */

.inputsButtonEnabled{
  background-color: #0C185C;
  color:#B6A4FF;
  margin-left: 5px;
  height: 300px;
  border-style: none;
  cursor: pointer;
}

.inputButtonDisabled{
  margin-left: 5px;
  height: 30px;
  border-style: none;
  cursor: pointer;
}