.main {
  display: flex;
  flex-direction: column;
  width: 100vw;
  height: 100vh;
  overflow-x: hidden;
}

.outerGrid {
  display: grid;
  grid-template-columns: 1fr 2fr 1fr;
  overflow: hidden;
  height: 100%;
}

.mainGrid {
  display: grid;
  grid-template-rows: auto auto;
}

.buttonContainer{
 margin:0;

}

.buttonContainer button{
  margin-left: 20px;
  margin-right: 20px;
  height:44px;
  border-style: none;
  border-radius: 7px;
  color:#B6A4FF;
  background-color: #0C185C;
}


.shareIcon i {
  font-size: 16px;
}
