.main {
  width: 100vw;
  height: 100vh;
  overflow-x: hidden;
}

.outerGrid {
  display: grid;
  grid-template-columns: 1fr 2fr 1fr;
}

.mainGrid {
  display: grid;
  grid-template-rows: auto auto;
}

.buttonsContainer{
  display:flex;
}
